# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
build/
dist/

# Compiled files
*.css
*.js
*.map

# Cache and logs
.cache/
logs/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor-specific files
.vscode/
.idea/
*.sublime-*
*.swp
*.swo

# Dependency lock files
package-lock.json
yarn.lock

# Compiled TypeScript definition files
*.tsbuildinfo

# Mac-specific files
.DS_Store

# Webpack Hot Module Replacement
webpack-assets.json

# Coverage directory for test coverage reports
coverage/
